<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.dao.ResponseResultDao">

    <select id="queryResponseResultList" resultType="com.study.model.ResponseResult">
        select *
        from response_result
    </select>

    <select id="queryResponseResultById" resultType="com.study.model.ResponseResult">
        select *
        from response_result
        where id = #{id}
    </select>

    <insert id="addResponseResult" parameterType="com.study.model.ResponseResult">
        INSERT INTO response_result (success, message, responseData, creationTime, remark)
        VALUES (#{success}, #{message}, #{responseData}, #{creationTime}, #{remark})
    </insert>
</mapper>